[2013-06-14 09:56] dkunzler opened #1 "Methods for long preferences are generated as float preferences"
Methods that return a long or get a long as parameter should use the correct type in the generation.

[2013-06-14 09:57] dkunzler opened #2 "Sample Project should contain sample"
Generate a full-fledged usage example.

[2013-06-14 12:06] #1 closed, assigned to dkunzler

[2013-06-20 12:24] dkunzler opened #3 "Allow synchronized access to preferences"
To make access to the preferences thread-safe add a synchronize paramerter to @SharedPreferences.
This should then generate a synchronized block for each method.

[2013-07-10 11:19] dkunzler opened #4 "Possibility to add global OnSharedPreferenceListener"
Add the possibility to register a global shared listener that will be registered at each distinct sharedPreference.

[2013-07-30 19:23] dkunzler opened #5 "Allow putting and getting of Serializable Objects as Strings"
Every Serializable Object could be converted to JSON and therefore transparently be put into a String preference.

[2013-08-15 21:58] #2 closed, assigned to dkunzler

[2013-08-15 22:09] #5 closed, assigned to dkunzler

[2013-08-16 07:45] dkunzler opened #6 "Inheritance generation does not work in library projects."
Inherited methods will not get generated if the superinterface is in a library project instead of the current project.

[2013-08-17 11:59] #6 closed, assigned to dkunzler

[2013-09-30 14:25] dkunzler opened #9 "Init method to store defaults"
It could be nice to store the annotated defaults into the preferences to make use of them in `PreferenceActivity`s for example.

[2013-11-15 08:50] dkunzler opened #11 "Replace commit with apply calls."
http://developer.android.com/reference/android/content/SharedPreferences.Editor.html#apply()

" it's safe to replace any instance of commit() with apply() if you were already ignoring the return value."

[2013-11-15 08:55] dkunzler opened #12 "Add possibility to use boolean as putter return value"
Preference Interface should allow definition of putters with boolean return value. Generated class from Esperandro should return the value of the call to commit().

[2013-12-10 15:42] stonecs opened #14 "NullPointerException when roundEnv.getElementsAnnotatedWith returns garbage"
Under specific circumstances ´roundEnv.getElementsAnnotatedWith´ returns way too many elements. If these are fields ´initImplementation´ throws a NPE.

[2013-12-10 23:19] #12 closed, assigned to stonecs

[2013-12-10 23:19] #11 closed, assigned to stonecs

[2013-12-11 20:46] #14 closed, assigned to nobody

[2013-12-11 20:48] #9 closed, assigned to nobody

[2013-12-11 20:53] #3 closed, assigned to nobody

[2014-01-15 20:57] stonecs opened #15 "Eliminate warnings and unused imports"
Depending on what code is being generated some imports are not neccessary and produce warnings.
The same applies to "suppress warnings unchecked", completely against the reason the suppress statement are being generated.

We should add switches when generating the code to check if those lines are neccessary, or not.

[2014-01-18 12:31] #15 closed, assigned to stonecs

[2014-02-03 13:01] dkunzler opened #16 "#11 bumped min API level to 9"
With the integration of apply for issue #11 the minimum required API level was implicitly bumped to 9.

Generate an API level check into the generated class and call commit if API below 9.

[2014-02-13 02:41] naixx opened #17 "Simple Gradle instructions"
The project works perfect with [android-apt](https://bitbucket.org/hvisser/android-apt).

So, the instructions for Gradle can be much simpler:

[code]

[2014-02-21 21:13] #16 closed, assigned to stonecs

[2014-02-21 21:14] #17 closed, assigned to nobody

[2014-03-27 20:42] dkunzler opened #18 "Jackson Serializer"
Introduce serializer for Jackson additionally to gson serializer.

[2014-03-27 20:46] dkunzler opened #19 "Do not rely on Serializable interface"
Let the serializer be completely in charge of serialization by letting all objects be eligible for serialization.
Background: objects can perhaps be serialized without having the serializable interface.

[2014-04-25 08:40] naixx opened #20 "Get dynamic default values"
Currently one can define default values at compile time using `@Default` annotation. Unfortunately this works only for simple types and at compile time. If user wants to specify  default value for complex object, that can't be passed to annotation, he can't do that.

My propose is to introduce getters with additional parameter that should be used as default. The library can have a convention that

[2014-05-06 19:58] #19 closed, assigned to dkunzler

[2014-05-14 19:47] #20 closed, assigned to dkunzler

[2014-05-19 08:04] #18 closed, assigned to dkunzler

[2014-07-14 14:32] ghost opened #23 "Serialized object cannot be cast to type"
java.lang.ClassCastException: com.google.gson.internal.LinkedTreeMap cannot be cast to com.example.data.Item
            at android.app.ActivityThread.performLaunchActivity(ActivityThread.java:2215)
            at android.app.ActivityThread.handleLaunchActivity(ActivityThread.java:2265)

When reading an `ArrayList<Item>` from SharedPreferences, objects stored in the ArrayList cannot be cast to the

[2014-08-04 15:55] naixx opened #24 "Proguard config"
Looks like there is lack of proguard config. Here is mine for jackson:

[code]

[2014-08-10 00:03] bspeice opened #25 "Incompatible with Dagger 1.2.2"
Okay, so I realize this may be a bit of a strange issue. I'm not exactly sure how to help debugging, so please feel free to point me in the right direction.

Both you and dagger depend on the Square JavaWriter. When Dagger 1.2.2 is used in my dependencies, I get the following error:

[code]

Using Dagger 1.2.1 doesn't produce this error, everything compiles just fine.
I've tested this on both a Li

[2014-08-12 18:29] #4 closed, assigned to nobody

[2014-08-19 16:18] #23 closed, assigned to nobody

[2014-08-19 16:19] #25 closed, assigned to nobody

[2014-08-19 16:48] #24 closed, assigned to nobody

[2014-09-17 05:35] sunddytwo opened #27 "错误：构造处理程序对象 java.lang.EnumConstantNotPresentException: javax.lang.model.SourceVersion.RELEASE_7 时抛出异常"
can i use it with jdk 1.6

[2014-10-08 17:38] dkunzler opened #28 "InitDefaults only once"
Add a check to initDefaults that no user set value will get overridden.
This way initDefaults can be called at initiialization without caring about previous set values.
(useful for app updates when preferences ared added)

[2014-10-09 18:19] #28 closed, assigned to nobody

[2014-10-29 10:19] maoruibin opened #29 "Tried to use a serialized Object in preferences but no serializer is present"
I have a try to use Serializable object to SharePreference but throws a exception

 Tried to use a serialized Object in preferences but no serializer is present
    java.lang.IllegalStateException: Tried to use a serialized Object in preferences but no serializer is present
            at de.devland.esperandro.Esperandro.getSerializer(Esperandro.java:74)
            at com.eallcn.agent.shareprefre

[2014-10-30 23:43] #27 closed, assigned to nobody

[2014-11-13 13:42] #29 closed, assigned to nobody

[2015-03-22 10:33] scompt opened #30 "Get rid of repeated SDK version checks"
Thanks for creating this project. We're using it in our and and we're quite happy with it.

There's one thing I'd like to get rid of if possible. In all of the editing calls, since #11, there's a check of the current SDK version to see if it's possible to call `apply()`:

    @Override
    @SuppressLint("NewApi")
    public void registrationId(String registrationId) {
      if (Build.VERSION.SDK_I

[2015-03-22 10:53] scompt commented on #30
A fourth alternative would be to release a version 2.2.0 containing the commit that suppresses the `CommitPrefEdits` lint check.

[2015-03-22 11:10] stonecs commented on #30
Hi,

thanks for submitting this issue and evaluating alternatives.

I personally would go for no. 3.

API 8 is down to 0.4%, according to google.
Also, our reference project, which used to target API 8 upwards, is taregting API 10+ since a while.

@dkunzler should we go for 9+?

[2015-03-22 12:53] dkunzler commented on #30
ACK.

Saves a lot of complexity on the processor side and some calculations at runtime.
If someone does it, I will merge and release asap. Otherwise try to do it within the next three days.

[2015-03-22 12:56] dkunzler commented on #30
Note: API 9 would still be possible by using only methods that return Boolean in the interface, am I correct? This would therefore involve adding a note to the documentation.

[2015-03-22 16:00] scompt commented on #30
I'll look at this today and try to get a pull request finished.

[2015-04-07 03:19] 1252768410 opened #32 "if the data is too lager(22.17K) ,and load will be change so slowly"
Now ,I use this lib to store a List data like this

ArrayList<District>districts = filterConfigEntity.getDistricts();
 getSharePrefence(DistrictsListSharePreference.class).containerValueAsync(districts);

but when i get it ,load data will beslowly, many times  it's need three seconds or more , can you give me some advice,thanks

[2015-04-07 07:58] dkunzler commented on #32
Hi @1252768410
I guess that's just too much data. SharedPreferences are specifically designed to handle "relatively small collections of key-values". (http://developer.android.com/training/basics/data-storage/shared-preferences.html)
For such amount of data like large Lists a real database is more suited. Even if esperandro allows you to store structured data into the SharedPreferences it doesn't

[2015-04-07 08:05] stonecs commented on #32
Hi,

in general, I also think this is the wrong use case for Preferences.

Esperandro only wraps around the actual SharedPreference logic and should not add significant overhead. The only thing, as @dkunzler already mentioned, that could lead to an overhead to simply storing a string of this size is the (de)serialization.

~stonecs

[2015-04-07 08:19] dkunzler commented on #32
If you want to know the performance impact of serialization alone you could do something like this:

[code]

and somewhere in your initialization code:
[code]

(if you are using GsonSerializer at the moment. adapt if you use another)
You should then see the start and end time of serialization and deserialization and could determine if this has something to do with your perfomance issue. If not Sha

[2015-04-08 02:32] 1252768410 commented on #32
thanks your response ,Maybe I should be use database,. or if i have time I will be use GSON parser, Now I used FastJson   https://github.com/alibaba/fastjson.

[2015-04-08 02:32] #32 closed

[2015-04-08 08:49] 1252768410 opened #33 "sometimes, when I need serializ object , but I don't want to serialzed object's some field"
Now do you have any idea ? thanks

[2015-04-08 11:01] dkunzler commented on #33
That depends highliy on the Serializer.
Gson for example uses two different approaches: You can either mark a field ``transient`` or use ``@Expose`` and set ``GsonBuilder().excludeFieldsWithoutExposeAnnotation()`` when building the GSON Object. (The esperandro GSON Serializer can be instantiated with such a gson instance)
https://sites.google.com/site/gson/gson-user-guide#TOC-Excluding-Fields-From

[2015-04-08 14:14] 1252768410 commented on #33
Thanks for your response! ^_^

[2015-04-08 14:14] #33 closed

[2015-11-11 10:51] MFlisar opened #35 "Improvement - enable caching"
It would be nice if I could enable a cache, so that I can fastly recheck a setting without reading the settings file again.

A simple `HashMap` would be enough and an annotation like `@SharedPreferences(..., enableCaching= true)`. And if the user enables caching, a static HashMap is always kept in sync when writing values and reading is done by accessing the `HashMap`...

[2015-11-11 18:14] dkunzler commented on #35
Hi,

thanks for your suggestion.

That would only make sense when automatically registering a PreferenceListener on these cached Preferences to circumvent the possibility that values were written outside of esperandro. But with such a Listener it could be possible.
It would however increase the memory footprint of the app and there should definately be an LRU eviction algorithm to make sure not th

[2015-11-11 19:06] MFlisar commented on #35
Maybe it's even possible to cache selected values with a per preference annotation. As long as you can enable/disable the cache globally when creating the preference class, it an improvement for sure as it does not break nor slow down nor increase the memory footprint for all those, who do not enable this feature.

I'm using your library in some of my projects already and it's not the first time t

[2015-11-29 22:51] MFlisar opened #36 "Serializable problem"
Currently, if I use serializable lists, they are not working, as the generated code is wrapping a list in a container, that is NOT implementing serializable itself...

**NOT Working:** Using following does crash, as the wrapper class is not serializable:

    ArrayList<String> existingSources();
    boolean existingSources(ArrayList<String>existingSources);

**working**

    OwnWrapper existingSou

[2015-12-01 23:12] dkunzler commented on #36
Thanks. I will look into it!

[2015-12-15 22:39] dkunzler commented on #36
Follow-Up question;
What Serializer are you using? Something provided by me (gson or jackson) or something custom?
I cannot reproduce it using Unit Tests locally. Neither gson nor jackson require Java Serializable Interface to serialize an Object to a json String.

[2015-12-20 18:54] MFlisar commented on #36
My own implementation... Looks like following:

*Setup*

    Esperandro.setSerializer(new Serializer() {
            @Override
            public String serialize(Object object) {
                return StringUtil.serialize(object);
            }

            @Override
            public <T> T deserialize(String serializedObject, Class<T> clazz) {
                return StringUtil.deserialize(seri

[2015-12-20 19:48] dkunzler commented on #36
Ok, I see. I will add the `Serializable` interface ASAP.

[2015-12-27 20:09] #36 closed

[2015-12-27 23:27] dkunzler commented on #36
I just uploaded 2.3.0 to maven which fixes this problem. Should get synced in a few hours.

[2015-12-27 23:32] dkunzler commented on #35
Hi @MFlisar , i added caching to a preference interface using the `@Cached` Annotation. I will update the documentation in a few days or so when I have time.
Caching is enabled for whole prefence interface. `cacheOnPut = true` will update the cache on a put. Otherwise the entry for the key is deleted from the cache.
`support = true` will use the `LruCache` from the Support library.
`cacheSize` sho

[2015-12-27 23:32] #35 closed

[2015-12-28 11:11] MFlisar commented on #35
Do I understand that right? You may use that for your docs ;-)

*cacheOnPut*
If enabled, any already cached value will be instantly replaced in the cache, whenever it is changed in the sense of whenever a new value is saved. Otherwise, if you save a new value into a preference field, the corresponding evenutally cached value will be removed from the cache.

*cacheSize*
This is the number of values

[2015-12-28 11:29] danielneu commented on #35
Sorry for being so quiet the last days / weeks, it had been pretty busy here.

I think this is a feature which needs thorough thoughts by developers using it, as prefs might be changed via the normal Android methodology and not via Esperandro. This may end up in wrong behavior, wrong information or even alternating behavior (Esperandro reads different values via cache as are actually stored in the

[2015-12-28 11:32] MFlisar commented on #35
For me, I never use PreferenceActivities or PreferenceFragments, I have my own implementation for such things... So I'm always using the preferences myself only...

[2015-12-28 11:37] danielneu commented on #35
Yes, but this is a library not meant for special use-cases but for general purposes. There are PreferenceFragments and they are used (although I also don't like them myself), so we need to think about it.

Having a user change his preferences and not seeing this in action because of wrong cached values is a big issue and can cause a lot of trouble.

[2015-12-28 11:49] MFlisar commented on #35
I understand your concerns, a warning is definetely a good thing, but as this is just an extension I think it's a good one. Of course people have to think about how and when to use it...

[2015-12-28 12:10] dkunzler commented on #35
You are right, it is a dangerous feature.
Perhaps I could add a compiler warning or even error if the `@Cached` Annotation ist used on default SharedPreferences as opposed to named ones.
Since only default Preferences can be used with PreferenceFragment/Activity that should be enough as a warning for a good developer ;)

[2015-12-28 12:14] danielneu commented on #35
This is what I was thinking about as well, but I found it to be too hard to explain, I didn't think about compiler warnings and errors, though.

Do you in the meantime see compiler warnings in Android Studio? IT#s been more than a year since I wrote my last line of code in it...

If not (or even if) I would go for an error and only allow it in named preferences. We could also think about adding an

[2015-12-30 22:06] MFlisar opened #37 "Bug in cache feature"
If I use setter with return type, the cache code is generated after returning the result of the setter...

Generated code looks like following:

    @Override
    public boolean versionShown(int versionShown) {
        return preferences.edit().putInt("versionShown", versionShown).commit();
        cache.remove("versionShown");
    }

and should look like following:

    @Override
    public boole

[2016-01-01 13:53] dkunzler commented on #37
Thanks, I will fix this asap!

[2016-01-06 17:54] #37 closed

[2016-01-06 18:09] dkunzler commented on #37
just release the fixed version 2.3.1
should be synced in a few hours to central.

sorry for the delay, I was about to try some other things.

I will not update the documentation regarding caching since I want to make this an external module to the processor to make sure that only developers are using it that read the documentation on this.

[2016-01-21 09:48] MFlisar commented on #35
Could you please add one additional feature:

A setting for auto calculation of cache size to cache ALL values? Or a percentage base setup so that I can setup something like `cacheSizeInPercentages = 100` so that the size is calculated based on the number of preferences?

[2016-01-25 20:02] MFlisar commented on #36
There's another problem:

Reading an uninitilised serialisable object fails, as adding the null value to the cache will fail with a `java.lang.NullPointerException: key == null || value == null` exception...

[2016-01-25 22:05] dkunzler opened #38 "NullPointerException in some cache cases"
see #36
When putting null or retrieving saved null value the cache will throw `NullPointerException`

[2016-05-02 11:13] MFlisar opened #39 "Async setters"
Whenever changing a value, this may be blocking the UI if it happens on the UI thread... I think, most of the time, async setters would be fine as well (and maybe better?).

So something that allows me to decide if `commit()` or `apply()` should be used would be really nice... Maybe a setter function with a boolean parameter additional to the default? This would not break any existing API.

Instea

[2016-05-02 15:04] dkunzler commented on #39
If I'm correct (this part of the code is a bit older) I do always apply instead of commit if you define your interface like
``
void lastSelectedColor(int lastSelectedColor)
``
and I use commit if you define
``
boolean lastSelectedColor(int lastSelectedColor)
``

If that doesn't work correctly for you, please reach back to me here.

[2016-05-04 10:53] MFlisar commented on #39
That's correct, thanks. I anyways never check the result and therefore can change my preference interface to use the void version

[2016-05-04 10:53] #39 closed

[2016-07-05 18:25] MFlisar opened #40 "XML Preference Screen support"
Is it possible to use esperandro type safe with `PreferenceScreens` written in xml?

A simple solution for me would be that you just generate string resources for each preference key... So that I can reference them in the xml

Any ideas to that?

[2016-07-05 22:33] dkunzler commented on #40
Interesting idea. But I have to look more into detail for this.
I think there is a problem with the build order. Additionally I don't like the compilation being dependent of something generated. (the interfaces for esperandro are always there at compile time, so you will never import something that is not there yet; but if I generate something at build time that is needed at build time I could run

[2016-07-05 22:44] MFlisar commented on #40
Actually depending on compulation results is common, even view binging works that way (only after compiling you can access the class)

I just thought about generating the resources because this probably is the easiest solution and can be done fastest...

I'm currently writing my setting screens for an app and have about 100 preferences I think... Having so many preferences, I would say the string

[2016-07-06 07:41] MFlisar commented on #40
I just wrote all my variables to the console and then copied them into a `preference.xml` file... Code looks like following (maybe interesting for someone else in the meantime until you thought about if and how you implement that).

This is just a fast solution though...

	public class Temp
	{
		private static final String PREF_RW = "\t<string name=\"%s\" translatable=\"false\">%s</string>\n";

[2016-07-06 09:24] MFlisar opened #41 "Public function to reset all cached values"
Please add a public reset cache function. When using your library with preference fragments, I will have to invalidate any cached values, because preference fragments don't allow to pass in a `SharedPreference` object, but only a preference name... Currently I use reflection like following for it:

        PrefManager$$Impl prefs = (PrefManager$$Impl) MainApp.getPrefs();
        try
        {

[2016-07-25 21:47] dkunzler commented on #40
I think I could generate String resources like you said if I write a gradle plugin. I have to look into it a bit more.
With the current solution I could possibly generate them into the wrong output folder ;)
Will think about this a bit more. A bit more input is welcome.
@danielneu

[2016-07-26 05:52] danielneu commented on #40
I have to admit that I had no hands on Android since what feels like years, with no IDE installed anymore.
I like the idea as well, but I am most likely not able to contribute anything else.

Sorry :-/

[2016-07-26 06:43] MFlisar commented on #40
@dkunzler anything special you need to know because you are asking for more input?

Actually, the solution should be quite simple, but I've no experience with annotation processors. I checked that a little bit already but I don't even know how to create a file in a special destination.

The destination for the output should be a seperate xml file in `res\values`, a file like `preferences.xml` for

[2016-07-27 22:28] #41 closed

[2016-07-27 22:28] #38 closed

[2016-07-27 22:37] dkunzler commented on #40
@MFlisar I hacked something together that should work well.
If you don't mind you could beta test the feature and give feedback.

To activate for you:

add my maven repo to top buid.gradle (or wherever you like it):
[code]

add snapshot dependencies:
[code]

Add this to your apps build.gradle to tell esperandro where your resources are:
[code]

Add the ``@GenerateStringResources`` Annotation to yo

[2016-07-28 06:58] MFlisar commented on #40
I'll test that... You did not change anything else, did you? Only code that generates the xml string resource file was added...

I've two apps I will test this with today...

[2016-07-28 07:35] MFlisar commented on #40
My observations so far:

* string resources are normally names with lower case, so I would use `esperandro` as default prefix instead of the upper case variant...
* please add `translatable="false"` to each string resource, otherwise you have to change the default lint checks for this attribute (which actually is very useful)

[2016-07-28 09:49] MFlisar commented on #40
Additional observations:

When I try to make a release build I get following exception:

[code]

[2016-07-29 21:20] dkunzler commented on #40
I uploaded a new SNAPSHOT to my maven repo.

Changes:
- Compiled with Java 7 again (should fix the error on APK generation)
- default prefix is lowercase
- translatable=false added to generated strings

BTW: I'm also thinking about generating another class that can be accessed directly which contains the names of the preferences as string constants to be used in code interacting with the preferenc

[2016-07-30 17:34] MFlisar commented on #40
Looks good now. Thanks

I don't mind if you add this, but this only increases speed a little bit in some cases. `context.getString(...)` can be used in code as well with the generated string resources...

[2016-10-11 14:35] asadkt commented on #23
serialization of custom serialized POJO into shared preference returns null upon trtrieval

[2016-10-11 21:16] dkunzler commented on #23
Hi,

can you please elaborate your problem? Perhaps by showing the code you are using.
I cannot understand your problem at this time.

[2016-10-12 06:17] asadkt commented on #23
I got following exception while running "Test Esperandro shared preferences"

E/AndroidRuntime: FATAL EXCEPTION: main
                                Process: com.xyz.android.debug, PID: 28996
                                java.lang.NullPointerException: Attempt to invoke virtual method 'int com.xyz.android.api.model.TestObj.getMember1()' on a null object reference

**Test Esperandro shared pref

[2016-10-12 06:25] dkunzler commented on #23
OK, your interface definition is wrong. esperandro doesn't use set and get keywords as semantic. Just use the name of the preference you want to store. In your case:

[code]

In your example you would store a preference named `setTestObj` and try to read a preference named `getTestObj`

I hope this helps.

[2016-10-12 16:53] asadkt commented on #23
David, it works now.

[2016-10-17 20:09] asadkt commented on #23
Just recalled that get/set prefix works with primitive types

[2016-10-21 06:27] dkunzler commented on #23
No it doesn't. At least not in esperandro. Not sure what you are doing but I definately not implemented set/get prefixes.

[2017-01-16 11:02] MFlisar opened #42 "Cache problem with null values"
With cache enabled, generated code may look like following:

	 @Override
	  public DataManager.ExistingDataSources existingDataSources() {
		DataManager.ExistingDataSources __result = (DataManager.ExistingDataSources) cache.get("existingDataSources");
		if (__result == null) {
		  Serializer __serializer = Esperandro.getSerializer();
		  __result = __serializer.deserialize(preferences.getString("e

[2017-01-16 19:57] dkunzler commented on #42
I will release a fix tomorrow.

[2017-01-17 08:15] MFlisar commented on #42
Thanks

[2017-01-17 10:00] dkunzler commented on #42
2.4.0 should be available in maven central in a few hours.
Cached and GenerateStringResource Annotations moved to experimental package

[2017-01-17 10:00] #42 closed

[2017-01-18 14:46] dkunzler commented on #35
Hi @MFlisar , a bit late but I added the option `autoSize` to the `Cached` annotation. It defaults to true in the version 2.4.1 (available in a few hours on maven) and will use the number of preferences for the cacheSize.

[2017-01-19 13:16] MFlisar commented on #35
Nearly one year ;-). But it's no problem, was using it with a high number and that worked as well. Thanks

[2017-01-20 07:16] MFlisar opened #43 "Problem when using in combination with PreferenceFragments"
I have a simple class like following (minimal extract of my file) using v2.4.1:

	@Cached(cacheOnPut = true, support = true)
	@SharedPreferences(name = PrefManager.PREF_NAME, mode = SharedPreferenceMode.PRIVATE)
	public interface PrefManager extends SharedPreferenceActions, CacheActions
	{
		String PREF_NAME = "mainPrefs";

		// a lot of default preferences, ALL have a default value
		// Example:

[2017-01-20 08:34] dkunzler commented on #43
Hi,
I have no idea therefore some questions out of the blue.
- Can you reproduce this reliably? If you use an older version of esperandro, can you verify with certain that you don't have this error with the older version?
- Can you check if this also occurs if you have no `@Cached` annotation?
- Can you check if you have a `clear` command anywhere in your code, either on the esperandro object or o

[2017-01-20 08:42] MFlisar commented on #43
I'm setting the `versionShown`variable somewhere else, I'm doing a few things at the first start (importing data, setting preferences, showing intro) and afterwards set the variable, so that is fine. It works, as all this is only called once, as long as I don't open my `SettingsActivity`.

Sadly, I can't reproduce it currently reliably... But thanks for the feedback, I'll check what you suggested

[2017-01-20 08:46] dkunzler commented on #43
Reproducability is always the problem with these nasty bugs. At least this is a hint that it has remotely something to to with threading or non-deterministic order of execution.
I would start with setters with boolean return type to make sure that esperandro really saves the file before returning the method.

[2017-01-20 08:50] MFlisar commented on #43
Actually, I think I have it... I used a reflection method to reset the cache and after you've added the function to reset the cache, I removed my reflection method and replaced it with the available reset function... And here is the problem, I used `clear()` instead of `resetCache()`...

Searching for clear in my preference package immediately showed me that. I searched for the problem yesterday a

[2017-01-20 08:50] #43 closed

[2017-06-26 10:09] MFlisar commented on #40
Can you tell me how to convert this statement for the new annotation processor?
[code]

[2017-06-26 14:10] dkunzler commented on #40
I will look into this.
What versions are you using currently? AS, Gradle, android-gradle-plugin, apt-plugin. And a redacted version of your build.gradle would also be nice.
Thanks

[2017-06-26 18:27] MFlisar commented on #40
I use version 2.4.1, gradle 4.0, latest stable android studio, NO APT PLUGIN but the newer `annotationProcessor`

Can add the grade file later...

[2017-06-27 10:13] MFlisar commented on #40
That's what I use in the `build.gradle`:

    compile 'de.devland.esperandro:esperandro-api:2.4.1'
    annotationProcessor 'de.devland.esperandro:esperandro:2.4.1'

[2017-06-27 10:19] dkunzler commented on #40
Thanks, I will definately setup a test project and look into it later. Didn't have the time yesterday, sorry.

[2017-06-27 10:26] MFlisar commented on #40
No need to hurry, a hard coded path does work anyways... Still, not useable for an open source project or a shared project...

Two solutions are possible:

1. add the project path in the `buid.gradle`, not sure how to retrieve it though...
2. support absolute and relative paths and append the project path in the processor if necessary - here: https://github.com/dkunzler/esperandro/blob/master/proc

[2017-06-27 19:32] dkunzler commented on #40
Hi,

the following inside android { defaultConfig {...} } works for me locally.

        javaCompileOptions {
            annotationProcessorOptions {
                arguments = [
                        esperandro_resDir : android.sourceSets.main.res.srcDirs[0].getAbsolutePath()
                ]
            }
        }

Reach back if it doesn't work. Unfortunately I don't see any possibility to

[2017-06-28 14:56] MFlisar commented on #40
Auto complete does not show me `getAbsolutePath()` that's why I did not try this...

Works now, thanks.

But it generates the strnigs in the `main/res/values` folder instead of the `main/res/values/strings`

[2017-06-29 07:00] dkunzler commented on #40
Yeah, because that is the path where strings are going. If you put them in values/strings you could add `+ "/strings"` to the path.
I'm still thinking about a better solution but the annotation processor had not enough information to find the res folder on its own. Perhaps the new integrated one gives more information.
Would love to make this feature publicly available wihtout the need of configur

[2017-06-29 12:30] MFlisar commented on #40
I know. You should put this into your readme. As far as I know it's the one thing that's unique to your library, others don't have that. Just like the caching feature.

Supporting generation of strings without setup would be nice. Maybe you can traverse the folder hierarchy until you find the root with the gradle file and then search for the res folder... such an idea. Path of the annotated class

[2017-06-29 12:30] #40 closed

[2017-07-19 08:55] dkunzler commented on #40
@MFlisar FYI I just released 2.5.0 (should be available on central in a few hours)
Features that are potentially interesting for you:
- automatic pick up of the values dir, no need to set it in gradle file. Should work for "normal" layouted android projects. You can test it if you want. If that doesn't work the option changed to `esperandro_valuesDir`
- There is support for `add` and `remove` oper

[2017-07-21 14:55] MFlisar commented on #40
Tried the list functions already, very useful.

Ever thought about the possibility to create a preference screen from the preference setup?

[2017-07-27 09:43] MFlisar opened #44 "Improvement suggestion"
I've an app with a lot of settings and they are growing. I see that I do the same things over and over again like following:

    switch (id) {
        case 1:
            MainApp.getPrefs().booleanSetting1(b);
            break;
        case 2:
            MainApp.getPrefs().booleanSetting2(b);
            break;
        case 3:
            MainApp.getPrefs().booleanSetting3(b);
            break

[2017-08-25 23:24] MFlisar commented on #44
I've now finished my library and have a new (easier) suggestion, will make a new point for this

[2017-08-25 23:24] #44 closed

[2017-08-26 00:04] MFlisar opened #45 "Suggestion - use string definitons with generated preference class"
It's now possible to generate string resources for each preference. Can you extend the generated class with following function:

    // prefID... one of the generated string resources via @GenerateStringResources
    public <T> T getValue(Context context, int prefId);
    public <T> boolean setValue(Context context, int prefId, T value);

Those functions should use the cache if enabled as well. My

[2017-08-28 20:51] dkunzler commented on #45
Hi,

seems nice, I will add this feature for you soon.

[2017-11-24 11:42] dkunzler commented on #45
Sorry for the huge delay. It is now added as methods in the interface UnsafeActions.
You can have a look if this suits your needs (if you still want it).
Version 2.5.2, can take a few hours until you see it on your mirror.

[2017-11-24 11:42] #45 closed

[2017-11-24 11:43] dkunzler opened #46 "Primitive Types that are not supported by SharedPreferences"
Primitive types that are not natively supported by `SharedPreferences` like char and byte fail.

[2017-11-27 08:37] MFlisar commented on #45
No need to apologise, I appreciate that you added this for me.

Looks good so far. This saves me a few lines of code in the future:

    // new code
    withGlobal(R.string.darkTheme);

    // old code
	// withGlobal(
	//         () -> MainApp.getPrefs().darkTheme(),
	//         value -> MainApp.getPrefs().darkTheme(value)
	// );

[2018-01-17 09:24] dkunzler opened #47 "Use same class modifier for Impl"
A package protected interface will have an implementation that is public.
Use the same class modifier as the implemented interface.

[2018-01-24 12:54] MFlisar opened #48 "Compiler warning if setting default values to default"
If I set a default value that is the same as the annotations default value I get a compiler warning from here:

https://github.com/dkunzler/esperandro/blob/42144cb0a4575383eced3d3c556dab9ce5abf325/processor/src/main/java/de/devland/esperandro/processor/Warner.java#L41

Why is this necessary?

    // @Default(ofBoolean = false) // <= uncommenting this will produce the warning
    boolean test();

[2018-01-26 21:50] dkunzler commented on #48
You are right, this is a regression and was originally correct. It should only warn when you define a non-default default value of another type. Will get fixed very soon.

[2018-01-27 11:21] #46 closed

[2018-01-27 11:21] #47 closed

[2018-01-27 11:21] #48 closed

[2018-01-27 11:56] dkunzler commented on #48
@MFlisar fixed in 2.6.0

[2018-01-27 14:50] MFlisar commented on #48
Great, thank you

[2018-02-08 11:02] MFlisar opened #49 "Support functions or non constant values for default values"
Not sure if this is possible, but following (or something functional equivalent) would be nice:

    @Default(ofInt = Color.argb(100, 0, 0, 0))
    int handleColor();
    boolean handleColor(int handleColor);

Any ideas on this?

[2018-02-08 11:10] dkunzler commented on #49
Unfortunately it is very limited on what is possible inside an Annotation.

Since it must be static in any case would somethin like that work for you:
[code]

Notice that the value here would be a string to keep it constant. I would just put this string as is into the place where the default is defined. Means that it would always need to be fully-qualified.

[2018-02-08 11:40] MFlisar commented on #49
That would be ok.

Something like following should work as well then, shouldn't it?

	int defHandleColor = Color.argb(100, 0, 0, 0);
	@Default(ofFunction = "defHandleColor")
	int handleColor();
	boolean handleColor(int handleColor);

[2018-02-08 12:50] MFlisar opened #50 "Default serialiser without dependencies"
could you add a default serialiser that does not depend on anything special? No jackson and no gson?

I usually use following in all my projects:

	public class SerializationUtil {

		public static String serialize(Object object) {
			ByteArrayOutputStream baos = new ByteArrayOutputStream();
			try {
				ObjectOutputStream oos = new ObjectOutputStream(baos);
				oos.writeObject(object);
				oos.fl

[2018-02-13 06:13] MFlisar opened #51 "Serialisation bug"
I have a field like following in my preferences to show some info cards to my users and to know which one they have already seen and dismissed:

    List<String> hiddenInfos();
    boolean hiddenInfos(List<String> hiddenInfos);
    void hiddenInfos$Add(String toAdd);
    void hiddenInfos$Remove(String toRemove);

After my last relase I suddenly got a lot of crash reports like following:

	[Seriali

[2018-02-13 06:53] dkunzler commented on #51
Hmm, interesting. I can't imagine why it changed. I didn't change the implementation of the container classes. Did you change something in the range of:
* package name of the preferences
* name of parameter `hiddenInfos`
* type of `hiddenInfos`

Normally the serialVersionUid should not change.
I could generate a constant one, but the question is if this helps or if there arise other problems. Obje

[2018-02-13 06:56] MFlisar commented on #51
I was aware of this possible problem, so I did not change the preference's class package name nor the field's name nor it's type.

What I do though is using two computers to build my app, not 100% sure if this may lead to different `serialVersionUID`, do you know this?

[2018-02-13 07:04] dkunzler commented on #50
I'm not a huge fan of ObjectStream serialisation. I am willing to add some serializer without dependencies if you have a good idea for an implementation, but as you have seen in your other issue this is not very robust. JSON for example would also survive changes in fields of classes without runtime error.

[2018-02-17 12:25] MFlisar commented on #50
I don't have an idea for a more simply serialisation currently, but I understand your concerns and it make sense to me. It's just two functions though, I have them in my local core library I use in all my projects, so I'm fine with this. Was just a suggestion

[2018-02-17 12:25] #50 closed

[2018-02-17 12:28] MFlisar opened #52 "Java version - support java 8"
In my gradle console log I always see following:

[code]

I'm using java 8 (for lambdas and other new java features) in all my projects, would it be possible to get rid of this warning? Could you add java 8 support to this library?

It's no big deal as it's a warning only and it does not have any effect, still...

[2018-02-26 21:53] dkunzler commented on #52
Unfortunately it seems a bit complicated. I'm unsure about the impact if I set RELEASE_8 but somebody uses it without Java 8 language features in his build. I will look into it however.

[2018-02-26 22:05] dkunzler commented on #51
I am now generating a serialVersionUID for the generated container classes. So please be aware when updating that this will definately trigger now this Exception.

2.7.0 will be available as soon as maven central is synced.

[2018-02-26 22:05] #51 closed

[2018-02-26 22:06] dkunzler commented on #49
This should work now in 2.7.0, please open a new issue if you find anything that doesn't work as expected.

[2018-02-26 22:06] #49 closed

[2018-02-26 22:07] dkunzler commented on #52
I just solved it potentially. If you have the time to try the new 2.7.0 let me know if the warning is gone for you.

[2018-02-27 06:27] MFlisar commented on #49
This means I can now initialise `List` and similar as well in the file which was not possible before.

Following is not working though:

    List<String> defHiddenInfos = new ArrayList<>();
    @Default(ofStatement = "defHiddenInfos")
    List<String> hiddenInfos();
    boolean hiddenInfos(List<String> hiddenInfos);

Nor is following working:

    @Default(ofStatement = "new ArrayList<>()")
    Li

[2018-02-27 06:29] MFlisar commented on #51
That's fine for me, I only use one `ArrayList` where I save already seens user infos/tipps so it's no big deal here.

Thanks for all the effort.

[2018-02-27 06:56] MFlisar commented on #52
Looks great, no warning anymore and generated class is the same and working. Thanks

[2018-02-27 06:56] #52 closed

[2018-04-23 23:22] naixx opened #53 "Incremental annotation processor"
Will it be possible to support incremental APT?
https://docs.gradle.org/4.7/userguide/java_plugin.html#sec:incremental_annotation_processing

[2018-05-07 18:26] dkunzler commented on #53
Hi,

I will have a deeper look into it. But I think it isn't possible in the current design because I'm also generating the String resources. I guess I have to externalize the resource generation into an own Processor. (which in turn won't be incremental)

[2018-05-24 12:56] MFlisar opened #54 "initDefaults broken"
In v2.2.0, `initDefaults` is generated, in v2.6.0 or v2.7.0 it is empty...

[2018-05-24 12:56] dkunzler commented on #54
I will have a look!

[2018-05-24 12:58] MFlisar commented on #54
Thanks. Just take your time, I don't need the new features in the project where I need the `initDefaults`... I can simply continue using v2.2.0 for now

[2018-05-24 21:15] dkunzler commented on #54
Hi, I looked into it and guess it is a user error 😁
(And a lack of documentation from my side)

Initidefaults uses (at least in the newer versions, I can't remember the old ones) the getter and setter methods since the getters already contain the complete logic to generate the correct defaults.
If setter or getter is missing no default initialization is generated for this specific preference. I ev

[2018-05-25 10:23] MFlisar commented on #54
In this very old app of mine I use it like following:

    @SharedPreferences(name = Preferences.PREF_NAME, mode = SharedPreferenceMode.PRIVATE)
    public interface Preferences extends SharedPreferenceActions
    {
        String PREF_NAME = "APP_PREFERENCES";

        public static final String userKnowsNavigationDrawer = "userKnowsNavigationDrawer";
        @Default(ofBoolean = false)
        b

[2018-05-25 11:08] dkunzler commented on #54
Yeah, that's the bug I found after writing my comment 👍
If you had a commit setter (boolean return type) it also didn't work. This is fixed locally. I will also remove the need for a setter and use the normal SharedPreference object for writing, and then push a new version.

[2018-05-25 11:32] MFlisar commented on #54
great, thanks a lot

[2018-05-27 20:16] dkunzler commented on #54
I just pushed 2.7.1 to maven central. initDefaults should no show better results.

[2018-05-27 20:16] #54 closed

[2018-05-28 07:18] MFlisar commented on #54
Great, works. Thank you

[2018-09-27 07:41] MFlisar opened #55 "AndroidX - import problem"
After migrating to androidx I have following problem:

The generated preference class is importing `androidx.core.util.LruCache` instead of `androidx.collection.LruCache`. Problem happens with following setup: `@Cached(cacheOnPut = true, support = true)`, only if`support = true` is used of course.

[2018-09-30 13:13] MFlisar commented on #55
No need to hurry, enjoy your vacation. Actually there is no need to use the support version anyways...

Probably the androidx namespace comes from the automatic refactoring android studio can do for libraries working with appcompat where the namespace comes from... ( the `enableJetifier` flag)

[2018-10-07 19:16] anthony3444 opened #56 "warning: No SupportedSourceVersion annotation found on de.devland.esperandro.processor.EsperandroAnnotationProcessor, returning RELEASE_6."
Hi there!

A question about this warning:
warning: No SupportedSourceVersion annotation found on de.devland.esperandro.processor.EsperandroAnnotationProcessor, returning RELEASE_6.

How can I fix it please?

Thank you very much!

[2019-05-17 10:12] wbervoets commented on #53
any update on this ticket?

[2019-05-17 13:18] dkunzler commented on #53
Unfortunately not. I currently don't have time for side projects. Perhaps in the next month again.

[2019-05-28 19:15] dkunzler commented on #56
Hi, this should be fixed since 2.7.0 which came out in february 2018.
Do you still have this issue with a current verison?

[2019-07-23 21:11] dkunzler commented on #55
I'm uploading 3.0.0 right now where you can choose which LruCache implementation is used. This should hopefully fix this error.
Please read the changelog since artifacts and some other things changed. (and the readme is not yet updated)

[2019-07-23 21:11] #55 closed

[2019-07-23 21:12] dkunzler commented on #53
I'm uploading 3.0.0 right now.
I split the functionality into 3 seperate processors. 2 of them are incremental, the resource generation is not and at the moment cannot be incremental.
Please read the changelog since artifacts and some other things changed. (and the readme is not yet updated)

[2019-07-23 21:12] #53 closed

[2019-07-23 21:12] dkunzler commented on #56
Should be fixed in 3.0.0

[2019-07-23 21:12] #56 closed

[2019-07-23 21:13] dkunzler opened #57 "Gradle sample"
I need a complete gradle sample object for an easier start for newbies.

[2019-07-23 21:14] dkunzler opened #58 "Migrate whole project to gradle"
Should be easier since Android is gradle based a long time now...

[2019-07-23 21:15] dkunzler opened #59 "Update Github Pages"
Include recent examples and be a bit shorter in explanations

[2019-08-27 13:06] rguthor2 opened #61 "warnings for each preference after upgrading to 2.5.2 - 3.0.0"
After upgrading to version 2.5.2 or higher, gradle build produces a warning for each preference, e.g.
`warning: [unchecked] unchecked cast
      return (V) (Integer) registrationStatus();
                 ^
  required: V
  found:    Integer
  where V is a type-variable:
    V extends Object declared in method <V>getValue(Context,int)`

The declaration is as follows:
@SharedPreferences
public inter

[2019-08-27 20:05] dkunzler commented on #61
Hi Rainer,

nice to hear from you! (and nice to hear that esperandro is still in use)

You didn't do anything wrong. The generated code has indeed some warnings. I fixed it with the respective suppress annotation.

I just release version 3.0.1 to fix it. It should be available in a few hours on central.
For now refer to the changelog.md for information about the 3.0.x update while I'm writing a pr

[2019-08-27 20:05] #61 closed

[2019-08-28 21:06] rguthor2 commented on #61
Hi David,
thanks for the super fast response. I upgraded to the new version. The warnings have disappeared and everything seems to be running well.

regarnds,
Rainer

[2019-09-10 13:50] dmo60 opened #62 "Support usage of Kotlin properties in interface definition"
Hey! Thank you for your work on this library!

I think it would be nice if `Esperandro` would support an interface like this defined in Kotlin:
[code]
Kotlin exposes getter and setter functions for these properties in Java, but those are prepended with a get/set prefix (https://kotlinlang.org/docs/reference/java-to-kotlin-interop.html#properties). Esperandro basically sees this:
[code]

Due to Esp

[2019-09-10 20:23] dkunzler commented on #62
I like the idea.
Honestly I already questioned the decision to not use this syntax in the first place.

Since it requires some development in a few different places I can't give a time estimation. But I will definately add it to the list of desired features.

[2019-09-10 20:51] dkunzler opened #63 "Poll: Change method names to Java Bean Accessor Syntax"
After seeing the discussion in #62 I think about adding the required naming scheme as additional possibility or changing the syntax completely in a new release.

So this poll is about:
a) add the possibility to use set<propertyName> and get<propertyName> additionally to the current <propertyName> method names where only the parameter determine the set/get operation.
b) completely remove support fo

[2019-09-11 06:28] MFlisar commented on #63
Before I answer, did you ever think about moving this library on to kotlin? This may open up new possibilities and even some things can be done without annotation processing...

[2019-09-11 06:31] dkunzler commented on #63
No, apart from the basic Syntax I'm not that familiar with advanced kotlin features.
Do you have more insight on what of this lib can be done in kotlin without annotation processing?

[2019-09-11 06:38] MFlisar commented on #63
You can check out this library: https://github.com/chibatching/Kotpref namely it's mostly kotlin delegates you can use to set/get values. For many use cases the linked library may be already a full kotlin alternative to your library - your library has some special features I use that make me still prefer your library.

If you move your library to kotlin and use fields for preference values, the ge

[2019-09-11 09:12] dmo60 commented on #63
Supporting both the old and the getter/setter syntax would probably be the less intrusive change. But it comes with a slight cost of decreased ease of use (one more feature to explain, one more decision to take).

It's probably a bad idea to guess and hardcode the name of the property anyways. For the use-case where the actual key name is required, you could advertise the key-gen processor.

[2019-09-20 13:34] wbervoets opened #64 "Serializer for Kotlinx serialization library"
Hi,

I was wondering if it is possible to create a serializer that delegates serialization/deserialisation to the Kotlinx Serialization library?

Wim

[2019-10-02 20:10] dkunzler commented on #64
From what I read this needs a kotlin class. Since I'm generating a wrapper class on the fly (to mitigate some problems with Generics that some JSON Serializers have) I think that at the moment this will not be possible.
If you know how to serialize plain Java Classes with this kotlinx lib feel free to give me an example. Then I will gladly implement something like that.

[2019-10-02 20:11] dkunzler commented on #63
Thanks for all your feedback.
I will make a new major version with changed naming in the future. Stay tuned.
This also affect #62

[2019-10-02 20:11] #63 closed

[2019-11-12 16:28] Tapchicoma opened #65 "Memory leak in ProcessingMessager"
Recently we start hitting quite constantly "GC overhead limit exceeded" error on building our application.

We managed to take heap dump of kotlin deamon process when this happens and, after analyzing it, we saw that `ProcessingMessager` consumes a lot of kotlin daemon heap memory.

Seems main issue that `ProcessingMessager` itself is singleton and holds a reference to `JavacProcessingEnvironment`

[2019-11-12 18:52] dkunzler commented on #65
Hi, thank you for your analysis. Can you provide me with the heap dump you took? How large is it?

[2019-11-12 19:09] Tapchicoma commented on #65
It is 8Gb in size. Will think how could it be provided.

[2019-11-12 19:20] dkunzler commented on #65
ok, that's more than I expected.
Perhaps we could use https://www.justbeamit.com/ for a P2P transfer.

[2019-11-13 10:11] Tapchicoma commented on #65
@dkunzler contact me when your are ready to receive heap dump

[2019-11-13 12:09] dkunzler commented on #65
@Tapchicoma I'm available now. You can send me the link via mail to not expose it to other people.
dk@devland.de

[2019-11-17 22:25] dkunzler commented on #65
Hi, I coult analyze the heap you gave me, and in fact I can see that the processingEnv should not be retained as a static field here.
I will start working on that asap.

[2019-11-18 22:12] #65 closed

[2019-11-19 20:52] dkunzler commented on #65
Can you give a feedback if 3.0.2 works for you if you tried it? Thanks.
@Tapchicoma

[2019-12-27 08:43] Tapchicoma commented on #65
Sorry, we removed Esperandro from our repository and I don't have time to test it. If it still happens, somebody will open an issue again :slightly_smiling_face:

[2020-04-08 16:57] cstaszak-logicboostlabs opened #68 "Proguard configuration (revisited)"
Although the notes in issue #24 were helpful, they did were not working for me (to be fair, that was six years ago). Using those rules, proguard still ends up name mangling the annotated class and not including the generated $$Impl class, which is effectively fatal for any proguard processed application.

I'm not a proguard expert, but was able to come up with a workable solution in my `proguard-r

[2020-04-17 06:16] dkunzler commented on #68
Hi, thanks for your feedback. I will add that to the documentation.
And if I ever switch to gradle I will put it directly into the lib.

[2020-04-17 06:23] dkunzler commented on #68
I added a combination of your version and the one from #24 in the wiki. (that I will have to update a lot more...)
https://github.com/dkunzler/esperandro/wiki/ProGuard
Thanks a lot

[2020-04-17 06:23] #68 closed

[2020-05-03 15:22] Th3J0nny opened #70 "Return type of remove() on List object is void, should be boolean"
The method `remove(Object o)` for `List` objects in java returns a boolean value that states whether the object has been successfully removed from the list or not. [Oracle docs List#remove(Object o)](https://docs.oracle.com/javase/7/docs/api/java/util/List.html#remove(java.lang.Object))
However, in esperandro `remove(Object o)` is void.

[2020-05-19 22:47] dkunzler commented on #62
I know that this is already very old...

but I implemented a first working version and released a snapshot.

If you add the following repository:
`maven {
            url "https://oss.sonatype.org/content/repositories/snapshots/"
        }`

you can use get* and set* method names.
The old version does not work anymore without some work.
I added @Get and @Put annotations to mark a method as a get,

[2020-06-02 12:54] dkunzler opened #71 "Add operations for ALL preference classes"
Add another processor that generates a class with all known (means same compilation unit) Shared Preference classes.

We then can operate on all of them for example clear all, init defaults for all.
This will add some interesting possibilities.

[2020-06-28 22:47] dkunzler opened #73 "Add and Remove operations on Set<String> won't work correctly"
According to the documentation of SharedPreferences one should not change the String Set that is returned by the preference.
Apparently a cached version of this set exists and adding an item to it and saving afterwards will not correclty stored.

[2020-07-11 22:09] #73 closed

[2020-07-14 20:45] #70 closed

[2020-07-14 20:48] dkunzler commented on #62
version 4.0.0 released.

[2020-07-14 20:48] #62 closed

[2020-07-24 12:23] jbirtel opened #74 "Default for serialize values does not work"
Caused by: com.google.gson.JsonSyntaxException: java.lang.IllegalStateException: Expected BEGIN_OBJECT but was STRING at line 1 column 2 path $
        at com.google.gson.internal.bind.ReflectiveTypeAdapterFactory$Adapter.read(ReflectiveTypeAdapterFactory.java:226)
        at com.google.gson.Gson.fromJson(Gson.java:927)
        at com.google.gson.Gson.fromJson(Gson.java:892)
        at com.google.

[2020-08-12 19:56] cstaszak-logicboostlabs opened #75 "4.0.x changelog items"
Very much appreciate what you're doing here. A couple of minor items:

- The changelog link on README.md is incorrect ('changelog' in the link needs to be uppercase)
- The changelog itself seems to be lagging the latest 4.0.x release(s). After digging, I found some info on the Migration wiki page, but unsure what other changes have taken place.

[2020-08-12 20:37] dkunzler commented on #75
Hi, thanks for the hints.
Unfortunately documentation is the one thing this project is lacking. Still missing pages in the wiki...

I updated the changelog and the link to the changelog now!

[2020-10-21 10:26] rguthor2 opened #77 "Deprecation warnings after migration to CompileSDK 29"
After migration to the compilesdk 29 lots of deprecation warnings regarding the use of android.preference.PreferenceManager are generated. The reason seems to be in the generated files of the annotation processor.
Can this be configured to use androidx.preference.PreferenceManager or does this need a new esperandro version?

[2020-10-21 22:13] dkunzler commented on #77
I will have a look at it and provide either an alternative implementation or a configuration to use the androidx namespace.
Currently it cannot be configured so I need to make a fix in esperandro.

[2020-10-22 00:01] rguthor2 commented on #77
Hallo David,

ich finde das toll, dass du dich immer noch darum kümmerst. Hoffe mal dass ich nicht der einzige User bin J

Viele Grüße

Rainer

Von: David Kunzler [mailto:notifications@github.com]
Gesendet: Donnerstag, 22. Oktober 2020 00:13
An: dkunzler/esperandro
Cc: Rainer Guthor; Author
Betreff: Re: [dkunzler/esperandro] Deprecation warnings after migration to CompileSDK 29 (#77)

I will have

[2020-10-25 22:12] dkunzler commented on #77
Hi Rainer, ich benutze es nach wie vor selbst, sowohl private als auch in der Firma. Meine Kollegen sind auch noch schwer begeistert ;)
Soviel ich weiß gibt es auch noch eine handvoll Leute, die ich nicht kenne, die es nutzen.

I just released 4.0.1 that should fix this issue by not using PreferenceManager at all anymore.

[2020-10-25 22:12] #77 closed

[2020-10-25 22:14] dkunzler commented on #74
should be fixed in 4.0.1

It will not be backported to the 3.x line. So @jbirtel please add "upgrade esperandro to 4.0.x" to the Checklist "refactorings" in our Vault project.

[2020-10-25 22:14] #74 closed

[2020-10-26 01:38] rguthor2 commented on #77
Hallo David,

habe es eben gesehen und gleich ausprobiert. Funktioniert wie angekündigt.

Also noch mal vielen Dank, dass du so schnell reagiert hast.

Vielleicht können wir uns ja mal treffen wenn Corona vorbei ist und bevor die nächste Pandemie gehyped wird.

Viele Grüße

Rainer

Von: David Kunzler [mailto:notifications@github.com]
Gesendet: Sonntag, 25. Oktober 2020 23:13
An: dkunzler/esperandr

[2021-07-21 23:15] agramian commented on #64
I'm not sure exactly what you require to get this implemented however I just came upon this issue and it may be possible to leverage the [Android SharedPreferences serialization](https://github.com/EdwarDDay/serialization.kprefs) project which is mentioned in the documentation for Kotlinx Serialization [here](https://github.com/Kotlin/kotlinx.serialization/blob/master/formats/README.md#sharedprefe